* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: poppins;

}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(218, 165, 32, 0.849);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;

    
}

nav ul li a:active{
    color: green;
}

.menu-icon{
    display: none;
    cursor: pointer;
    
}

/* nav ul li a:nth-child(1) {
    text-decoration: underline;
} */

nav .btn a{
    text-decoration: none;
    color: white;
    border: 1px, solid, white;
    padding: .8rem;
    cursor: pointer;
    border-radius: 5px;
}
nav .btn a:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: .8rem;
    border-radius: 5px;
}

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar li {
    width: 100%;
    padding-left: 3rem;
}

.side-bar li a{
    width: 100%;
    color: goldenrod;
}
.side-bar li a:hover{
    width: 100%;
    background-color: black;
    text-decoration: none;
    padding: 1rem;

}

.active {
    text-decoration: underline;
}

.showcase {
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
   
}

.showcase h1 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.927);
}

.showcase h2 {
    /* text-transform: uppercase; */
    font-size: 5rem;
    padding-bottom: 1rem;
    font-weight: 200;
    color: white;
}

.showcase p {
    /* text-transform: uppercase; */
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 200;
    color: white;
}

#genesis {
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;
}

#genesis h2{
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.genesis-img img {
    width: 25rem;
}

.genesis-img {
    padding-top: 2rem;
}
.genesis-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
#instructors {
    background-color: rgba(218, 165, 32, 0.849);
    color: white;
    padding: 10rem 0;
    text-align: center;
}

#instructors h3 + p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

#instructors h3 {
    font-size: 3rem;
}

.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}



.socials {
    display: flex;
    gap: 1rem;
    /* padding-left: 4rem; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.people h4, .people p {
    margin-top: .5rem;
}
.people p {
    margin-bottom: 1rem;
} 
.rounded {
    border-radius: 50%;

}
.people-one,
.people-three {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;
}

.people-two,
.people-four {
    background-color: rgb(28, 31, 34);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
#newsletter {
    background-color: rgba(0, 0, 0, 0.857);
    padding-top: 12rem;
    padding-bottom: 12rem;
    color: white;
}


.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-text {
    width: 50%;
}

.newsletter-text h3 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.newsletter-text p{
    font-size: 2.5rem;
    font-weight: 200;
}

.news-email input {
    padding: 1rem;
    width: 100%;
    color: white;
    border: none;
    background-color: salmon;
    margin-bottom: 1rem;
}

.newsletter button {
    margin-top: 1rem;
    width: 100%;
    background-color: salmon;
    padding: 1rem;
    color: white;
}

.contact {
    padding-top: 15rem;
    text-align: center;

}

.contact h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.586);
    padding-bottom: 3rem;
}

.contact h4 {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: rgba(0, 0, 0, 0.786);
}

.contact h5 {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 3rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.786);
}

.contact p {
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 200;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10rem;
}

.social img {
    width: 3rem;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.857);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

@media (max-width: 900px) {

    body{
        font-size: 10px;
    }
    .hide-mobile {
        display: none;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        
    }

  
    nav li {
        margin-right: 0;
        padding: 10px;
    }

    .showcase{
        margin-top: -7rem;
        margin-bottom: -7rem;
    }

    .showcase h1 {
        font-size: 1.3rem;
    }

    .showcase h2 {
        font-size: 3.5rem;
    }

    .people{
     display: flex;
     flex-direction: column;  
     margin-top: -3rem; 
    }

    #instructors h3{

        font-size: 2.5rem;
        margin-top: -5rem;
    }

    .genesis-img img {
        width: 25rem;
    }
    

    .genesis-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
    
    .newsletter {
        flex-direction: column;
        padding-top: -10rem;
        
    }

    .newsletter-text {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }

    .newsletter-text p {
        font-size: 1.7rem;
    }

    .news-form{
        width: 100%;
    }
    
    .contact h3 {
        font-size: 1rem;
        margin-top: -5rem;
    }
    .contact h4 {
        font-size: 2rem;
    }

    .contact h5 {
        font-size: 1.5rem;
    }

    .contact p {
        font-size: 1rem;
    }
}